@import url("https://api.fontshare.com/v2/css?f[]=satoshi@900,700,500,301,701,300,501,401,901,400&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Satoshi", sans-serif;
}

body,
html {
  @apply bg-tw_bg text-tw_text;
}

.hide-scrollbar {
  -ms-overflow-style: none; /* IE 11 */
  scrollbar-width: none; /* Firefox 64 */
}

html {
  overflow: -moz-scrollbars-none;
}

p,
a,
button {
  @apply transition-all duration-300;
}
